<!-- ABOUT US-->
<section class="p-t-10 p-b-55">
    <div class="container">
        <div class="media-about">
            <div class="row">
                <div class="col-lg-7">
                    <div class="media__body">
                        <h5 class="title-sub">Về chúng tôi</h5>
                        <h2 class="title-1">We are specialists in the field of architecture</h2>
                        <p class="media__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utins labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco cot laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in vactil oluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.</p>
                        <a class="au-btn au-btn--arrow" href="#">Read more
                            <i class="zmdi zmdi-arrow-right ic-arrow"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="media__img js-line">
                        <img src="/frontend/images/about-01.jpg" alt="About">
                        <span class="line"></span>
                        <span class="line line-bottom"></span>
                        <div class="media__img-inner wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <span class="number">28</span>
                            <span class="desc">years of experience</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT US-->