<!-- BLOG-->
<section class="p-t-65 p-b-65">
    <div class="container">
        <div class="section-title m-b-70">
            <h5 class="title-sub">bài viết</h5>
            <h2 class="title-1">bản tin mới nhất</h2>
        </div>
        <div class="row gutter-xl">
            <% @newest_blogs.each_with_index do |blog,index| %>
            <div class="col-md-4">
                <article class="blog">
                    <figure class="entry-image">
                        <a href="#">
                            <%= link_to image_tag(article_image(blog.image.thumb_357_201, '357_201'), alt: blog.name), blog_link(blog) %>
                        </a>
                    </figure>
                    <div class="entry-summary">
                        <h4 class="entry-title">
                            <%= link_to blog.name, blog_link(blog) %>
                        </h4>
                        <span class="entry-meta"><%= blog.created_at.strftime("%d-%B-%Y") %></span>
                        <p class="entry-excerpt">
                            <%= short_text(blog.content, 25) %>...
                        </p>
                    </div>
                </article>
            </div>
            <% end %>
        </div>
    </div>
</section>
<!-- END BLOG-->