<!-- CLIENT-->
<section class="p-t-15">
    <div class="container">
        <div class="section-title m-b-100">
            <h5 class="title-sub">awesome partner</h5>
            <h2 class="title-1">Our clients</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a class="img-client" href="#">
                    <img src="/frontend/images/icon/client-01.png" alt="Client 1">
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="img-client" href="#">
                    <img src="/frontend/images/icon/client-02.png" alt="Client 2">
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="img-client" href="#">
                    <img src="/frontend/images/icon/client-03.png" alt="Client 3">
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="img-client" href="#">
                    <img src="/frontend/images/icon/client-04.png" alt="Client 4">
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="img-client" href="#">
                    <img src="/frontend/images/icon/client-05.png" alt="Client 5">
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="img-client" href="#">
                    <img src="/frontend/images/icon/client-06.png" alt="Client 6">
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="img-client" href="#">
                    <img src="/frontend/images/icon/client-07.png" alt="Client 7">
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="img-client" href="#">
                    <img src="/frontend/images/icon/client-08.png" alt="Client 8">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END CLIENT-->