<!-- Partner -->
<section class="section__partner">
  <div class="partner__container container">
    <div class="d-flex flex-column align-items-center align-items-sm-center align-items-md-center align-items-lg-start">
      <h3 class="section__title--2">
        Đối tác
      </h3>
    </div>
    <div class="row flex-wrap flex-sm-wrap flex-md-wrap flex-lg-nowrap mt-5 partner-sl">
        <img class="img-fluid" src="/frontend/images/vingroup.png" alt="Vingroup">
        <img class="img-fluid" src="/frontend/images/microsoft.png" alt="">
        <img class="img-fluid" src="/frontend/images/apple.png" alt="">
        <img class="img-fluid" src="/frontend/images/google.png" alt="">
        <img class="img-fluid" src="/frontend/images/vingroup.png" alt="Vingroup">
        <img class="img-fluid" src="/frontend/images/microsoft.png" alt="">
        <img class="img-fluid" src="/frontend/images/apple.png" alt="">
        <img class="img-fluid" src="/frontend/images/google.png" alt="">
    </div>
  </div>
</section>