<!-- LASTEST PROJECT-->
<section class="wrap wrap--w1790 p-b-75">
    <div class="container">
        <div class="section-title m-b-70">
            <h5 class="title-sub">our work</h5>
            <h2 class="title-1">Latest project</h2>
        </div>
        <div class="container-fluid">
            <div class="slick-wrap slick-project js-slick-wrapper" data-slick-xs="1" data-slick-sm="1" data-slick-md="3" data-slick-lg="4" data-slick-xl="4" data-slick-dots="false" data-slick-customnav="true" data-slick-autoplay="true">
                <div class="slick-wrap-content">
                    <div class="slick-content js-slick-content">
                        <div class="slick-item">
                            <article class="media media-project">
                                <figure class="media__img">
                                    <img src="/frontend/images/project-01.jpg" alt="luxury villa" />
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <a href="project-detail-1.html">Fusion House - Ny'Ah Binh Tay</a>
                                    </h3>
                                    <div class="address">Perth, Australia</div>
                                </div>
                            </article>
                        </div>
                        <div class="slick-item">
                            <article class="media media-project">
                                <figure class="media__img">
                                    <img src="/frontend/images/project-02.jpg" alt="wooden villa" />
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <a href="project-detail-1.html">Công trình nhà máy Heineken</a>
                                    </h3>
                                    <div class="address">Phnom Penh - Cambodia</div>
                                </div>
                            </article>
                        </div>
                        <div class="slick-item">
                            <article class="media media-project">
                                <figure class="media__img">
                                    <img src="/frontend/images/project-03.jpg" alt="Skyline" />
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <a href="project-detail-1.html">Mercedes Factory</a>
                                    </h3>
                                    <div class="address">Quang Trung, Go Vap, HCMC</div>
                                </div>
                            </article>
                        </div>
                        <div class="slick-item">
                            <article class="media media-project">
                                <figure class="media__img">
                                    <img src="/frontend/images/project-04.jpg" alt="Frozen house" />
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <a href="project-detail-1.html">Academy AEC Center </a>
                                    </h3>
                                    <div class="address">Mexico</div>
                                </div>
                            </article>
                        </div>
                        <div class="slick-item">
                            <article class="media media-project">
                                <figure class="media__img">
                                    <img src="/frontend/images/project-29.jpg" alt="luxury villa" />
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <a href="project-detail-1.html">Khách sạn Côn Đảo</a>
                                    </h3>
                                    <div class="address">Bà Rịa - Vũng Tàu</div>
                                </div>
                            </article>
                        </div>
                        <div class="slick-item">
                            <article class="media media-project">
                                <figure class="media__img">
                                    <img src="/frontend/images/project-30.jpg" alt="wooden villa" />
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <a href="project-detail-1.html">Nhà xưởng Ruby</a>
                                    </h3>
                                    <div class="address">Myanmar</div>
                                </div>
                            </article>
                        </div>
                        <div class="slick-item">
                            <article class="media media-project">
                                <figure class="media__img">
                                    <img src="/frontend/images/project-31.jpg" alt="wooden villa" />
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <a href="project-detail-1.html">Công trình Alpes</a>
                                    </h3>
                                    <div class="address">Việt Nam</div>
                                </div>
                            </article>
                        </div>
                        <div class="slick-item">
                            <article class="media media-project">
                                <figure class="media__img">
                                    <img src="/frontend/images/project-32.jpg" alt="Skyline" />
                                </figure>
                                <div class="bg-overlay"></div>
                                <span class="line"></span>
                                <span class="line line--bottom"></span>
                                <div class="media__body">
                                    <h3 class="title">
                                        <a href="project-detail-1.html">Nghi's house</a>
                                    </h3>
                                    <div class="address">Michigan, USA</div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="slick__nav arrows-1">
                    <i class="slick-prev slick-arrow js-slick-prev ti-angle-left"></i>
                    <i class="slick-next slick-arrow js-slick-next ti-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END LASTEST PROJECT-->