<% @newest_projects = Erp::Projects::Project.newest_projects(20) %>
<% if @newest_projects.count >= 4 %>
<!-- LASTEST PROJECT-->
<section class="wrap wrap--w1790 p-b-75">
    <div class="container">
        <div class="section-title m-b-70">
            <h5 class="title-sub">Chúng tôi đã làm gì?</h5>
            <h2 class="title-1">DỰ ÁN GẦN ĐÂY</h2>
        </div>
        <div class="container-fluid">
            <div class="slick-wrap slick-project js-slick-wrapper" data-slick-xs="1" data-slick-sm="1" data-slick-md="3" data-slick-lg="4" data-slick-xl="4" data-slick-dots="false" data-slick-customnav="true" data-slick-autoplay="true">
                <div class="slick-wrap-content">
                    <div class="slick-content js-slick-content">
                        <% @newest_projects.each do |project| %>
                            <div class="slick-item">
                                <article class="media media-project">
                                    <figure class="media__img">
                                        <%= image_tag project.image.thumb_960_600, alt: project.name %>
                                    </figure>
                                    <div class="bg-overlay"></div>
                                    <span class="line"></span>
                                    <span class="line line--bottom"></span>
                                    <div class="media__body">
                                        <h3 class="title">
                                            <%= link_to project.name, project_link(project) %>
                                        </h3>
                                        <div class="address"><%= project.location %></div>
                                    </div>
                                </article>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="slick__nav arrows-1">
                    <i class="slick-prev slick-arrow js-slick-prev ti-angle-left"></i>
                    <i class="slick-next slick-arrow js-slick-next ti-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END LASTEST PROJECT-->
<% end %>