<!-- SERVICE-->
<section class="p-t-60 p-b-55">
    <div class="container">
        <div class="section-title">
            <h5 class="title-sub">what we do</h5>
            <h2 class="title-1">Our specilization</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4">
                <article class="media media-service">
                    <figure class="media__img">
                        <img src="/frontend/images/icon/service-01.png" alt="architecture" />
                    </figure>
                    <div class="media__title">
                        <h3 class="title">
                            <a href="#">architecture</a>
                        </h3>
                        <span class="number">01</span>
                    </div>
                    <p class="media__text">Lorem ipsum dolor sit amet, consectetur adipist pricing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="media media-service">
                    <figure class="media__img">
                        <img src="/frontend/images/icon/service-02.png" alt="Interior" />
                    </figure>
                    <div class="media__title">
                        <h3 class="title">
                            <a href="#">Interior</a>
                        </h3>
                        <span class="number">02</span>
                    </div>
                    <p class="media__text">Lorem ipsum dolor sit amet, consectetur adipist pricing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="media media-service">
                    <figure class="media__img">
                        <img src="/frontend/images/icon/service-03.png" alt="planning" />
                    </figure>
                    <div class="media__title">
                        <h3 class="title">
                            <a href="#">planning</a>
                        </h3>
                        <span class="number">03</span>
                    </div>
                    <p class="media__text">Lorem ipsum dolor sit amet, consectetur adipist pricing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- END SERVICE-->