<!-- Banner -->
<section class="section__banner">
  <div class="banner-sl slider">
    <% @sliders.each do |slider| %>
        <div>
            <%= image_tag(slider.image_url, alt: slider.name) %>
            <h2><%= raw slider.caption_1 %></h2>
        </div>
    <% end %>
  </div>
  <div class="container">
    <div class="banner__methods">
      <div class="methods__container shadow-sm">
        <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row gap-0 gap-sm-0 gap-md-0 gap-lg-3 align-items-center">
          <div class="method__image">
            <img src="/frontend/images/Simulation.png" alt="Simulation" class="d-none d-lg-block">
            <img src="/frontend/images/Simulation-sp.png" alt="Simulation" class="d-block d-lg-none">
          </div>
        </div>
        <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row gap-0 gap-sm-0 gap-md-0 gap-lg-3 align-items-center">
          <div class="method__image">
            <img src="/frontend/images/Analysis.png" alt="Analysis" class="d-none d-lg-block">
            <img src="/frontend/images/Analysis-sp.png" alt="Analysis" class="d-block d-lg-none">
          </div>
        </div>
        <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row gap-0 gap-sm-0 gap-md-0 gap-lg-3 align-items-center">
          <div class="method__image">
            <img src="/frontend/images/Optimization.png" alt="Optimizationn" class="d-none d-lg-block">
            <img src="/frontend/images/Optimization-sp.png" alt="Optimization" class="d-block d-lg-none">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
