<!-- Assessment -->
<section class="section__assessment">
    <div class="assessment__container container">
        <div class="d-flex flex-column align-items-center align-items-sm-center align-items-md-center align-items-lg-start">
        <h2 class="section__heading">
            Đánh giá
        </h2>
        <h3 class="section__title--2 text-center text-sm-center text-md-center text-lg-start">
            Niềm tin từ khách hàng <br> là động lực để chúng tôi phát triển
        </h3>
        </div>
        <div class="assessment__carousel">
            <div class="carousel__list js-slider">
                <% (1..4).each do |testi| %>
                    <div class="carousel__item d-flex flex-column align-items-center justify-content-between shadow-sm">
                        <div class="icon-24">
                            <img src="/frontend/images/icon_quote.png" alt="Icon Quote">
                        </div>
                        <p class="text-justify fs-6 mb-0">
                            Năng lượng gió là nguồn tài nguyên kinh doanh có giá trị nhất. Bạn sẽ không hối tiếc
                            đâu. Tôi sẽ lạc lối nếu không có năng lượng gió. Không cần phải nói chúng tôi vô
                            cùng hài lòng với kết quả.
                        </p>
                        <div>
                            <p class="fs-5 fw-bold text-black-3 text-center mb-0">Nguyễn Văn A</p>
                            <p class="text-black-3 fs-6 text-center mb-0">Giám đốc, Công ty Powder Based Factory
                            </p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>