<aside class="widget-area widget-sidebar m-t-30">
    <div class="widget widget_recent_entries">
        <h4 class="widget-title">Dịch vụ khác</h4>
        <ul>
            <li>
                <a href="#">Thiết kế hệ thống cơ điện</a>
            </li>
            <li>
                <a href="#">Xây dựng mô hình năng lượng</a>
            </li>
        </ul>
    </div>
    <div class="widget widget_instagram">
        <h4 class="widget-title">Dự án gần đây</h4>
        <ul class="widget_instagram_list">
            <li>
                <a href="#">
                    <img src="/frontend/images/insta-01.jpg" alt="Insta 1">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/frontend/images/insta-02.jpg" alt="Insta 2">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/frontend/images/insta-03.jpg" alt="Insta 3">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/frontend/images/insta-04.jpg" alt="Insta 4">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/frontend/images/insta-05.jpg" alt="Insta 5">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/frontend/images/insta-06.jpg" alt="Insta 6">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/frontend/images/insta-07.jpg" alt="Insta 7">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/frontend/images/insta-08.jpg" alt="Insta 8">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/frontend/images/insta-09.jpg" alt="Insta 9">
                </a>
            </li>
        </ul>
    </div>
</aside>