<aside class="widget-area widget-sidebar m-t-30">
    <div class="widget widget_recent_entries">
        <h4 class="widget-title"><%= t('.other_services') %></h4>
        <ul>
            <% @categories.each do |category| %>
                <li>
                    <%= link_to category.name, service_link(category) %>
                </li>
            <% end %>
        </ul>
    </div>
    
    <% projects = Erp::Projects::Project.newest_projects(9) %>
    <% if projects.count >= 3 %>
        <div class="widget widget_instagram">
            <h4 class="widget-title"><%= t('.newest_projects') %></h4>
            <ul class="widget_instagram_list">
                <% projects.each do |project| %>
                    <li>
                        <%= link_to (image_tag project.image.small), project_link(project), title: project.name %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</aside>