<div class="contact-info">
    <% if !@company_info.nil? %>
        <div class="contact-info__item">
            <h5 class="title--sm2"><%= @company_info.contact_name %></h5>
        </div>
        <div class="contact-info__item m-b-10">
            <p class="value"><strong>Địa chỉ:</strong> <%= display_contact_address(@company_info) %></p>
        </div>
        <div class="contact-info__item m-b-10">
            <p class="value"><strong>Điện thoại:</strong> <%= link_to @company_info.phone, "tel:#{@company_info.phone}" %></p>
        </div>
        <div class="contact-info__item m-b-10">
            <p class="value"><strong>Hotline:</strong> 090 369 9323</p>
        </div>
        <div class="contact-info__item m-b-10">
            <p class="value"><strong>Email:</strong> <%= mail_to @company_info.email, @company_info.email %></p>
        </div>
    <% end %>
</div>