<div class="map-wrapper js-google-map m-t-60"
    data-makericon="/frontend/images/icon/marker.png"
    data-makers="[[&quot;<%= t('.saoee_name') %>&quot;,&quot;<%= t('.address') %>: <%= t('.address_info') %>&lt;br&gt;<%= t('.phone') %>: 028 6682 2233 | Email: info@sao-ee.vn | Website: sao-ee.vn&quot;,10.777852, 106.702249]]">
    <div class="map__holder js-map-holder" id="map" style="height: 370px;"></div>
</div>