<div class="map-wrapper js-google-map m-t-60"
    data-makericon="/frontend/images/icon/marker.png"
    data-makers="[[&quot;CÔNG TY CỔ PHẦN TƯ VẤN THIẾT KẾ SAO&quot;,&quot;Địa chỉ: P.901, Lầu 9, 68 Nguyễn Huệ, P. Bến Nghé, Quận 1, Hồ Chí Minh&lt;br&gt;Điện thoại: 028 6682 2233 | Email: info@sao-ee.vn | Website: sao-ee.vn&quot;,10.774796,106.703620]]">
    <div class="map__holder js-map-holder" id="map" style="height: 370px;"></div>
</div>