<div class="comments-area">
    <h3 class="comment-title">2 Bình luận</h3>
    <ul class="comment-list">
        <li class="comment">
            <article class="comment-body">
                <header class="comment-meta">
                    <div class="comment-author vcard">
                        <img class="avatar" src="/frontend/images/user-01.jpg" alt="user 1">
                        <b class="fn">Bertha Lawrence</b>
                    </div>
                    <div class="comment-metadata">
                        <a href="#">12 - August - 2018</a>
                    </div>
                </header>
                <div class="comment-content">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremquealt hoan laudas ntium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                </div>
                <div class="reply">
                    <a href="#">reply</a>
                </div>
            </article>
        </li>
        <li class="comment">
            <article class="comment-body">
                <header class="comment-meta">
                    <div class="comment-author vcard">
                        <img class="avatar" src="/frontend/images/user-02.jpg" alt="user 2">
                        <b class="fn">Rudolph Kelley</b>
                    </div>
                    <div class="comment-metadata">
                        <a href="#">12 - August - 2018</a>
                    </div>
                </header>
                <div class="comment-content">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremquealt hoan laudas ntium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                </div>
                <div class="reply">
                    <a href="#">reply</a>
                </div>
            </article>
        </li>
    </ul>
    <div class="comment-area-form">
        <h3 class="comment-title">Hãy tham gia bình luận</h3>
        <form method="POST" action="#">
            <div class="row gutter-md">
                <div class="col-md-6">
                    <input class="au-input-2 m-b-20" type="text" placeholder="Tên của bạn">
                </div>
                <div class="col-md-6">
                    <input class="au-input-2 m-b-20" type="email" placeholder="Địa chỉ email">
                </div>
            </div>
            <textarea class="au-textarea-2 m-b-20" placeholder="Nội dung bình luận"></textarea>
            <button class="au-btn au-btn--solid" type="submit">Gửi bình luận</button>
        </form>
    </div>
</div>