<aside class="widget-area widget-sidebar">
    <% if @newest_recruitments.count > 0 %>
        <div class="widget widget_recent_entries">
            <h4 class="widget-title"><%= t('.newest_recruitments') %></h4>
            <ul>
                <% @newest_recruitments.each do |post| %>
                    <%
                        post_name = post.name
                        if post.name.present? and post.en_name.present?
                            if I18n.locale == :vi
                                post_name = post.name
                            elsif I18n.locale == :en
                                post_name = post.en_name
                            elsif I18n.locale == :jp
                                post_name = post.jp_name
                            end
                        end
                    %>
                    <li>
                        <%= link_to "<i class=\"zmdi zmdi-collection-text zmdi-hc-fw\"></i> #{post_name}".html_safe, recruitment_link(post) %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <% projects = Erp::Projects::Project.newest_projects(9) %>
    <% if projects.count >= 3 %>
        <div class="widget widget_instagram">
            <h4 class="widget-title"><%= t('.latest_projects') %></h4>
            <ul class="widget_instagram_list">
                <% projects.each do |project| %>
                    <%
                        project_name = project.name
                        if project.name.present? and project.en_name.present?
                            if I18n.locale == :vi
                                project_name = project.name
                            elsif I18n.locale == :en
                                project_name = project.en_name
                            elsif I18n.locale == :jp
                                project_name = project.jp_name
                            end
                        end
                    %>
                    <li>
                        <%= link_to (image_tag project.image.small), project_link(project), title: project_name %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</aside>