<% title "Dịch vụ" %>
<!-- PAGE HEADING-->
<section class="section breadcrumb p-t-65 p-b-35">
    <div class="container">
        <div class="page-heading">
            <h2 class="title-2">Dịch vụ</h2>
            <h4 class="title-sub title-sub--c8 m-b-15">
                <%= link_to "Trang chủ", erp_saoee.root_path %> <i class="ti-angle-double-right"></i>
                <%= 'Dịch vụ' %>
            </h4>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- SERVICE-->
<section class="p-t-60 p-b-55">
    <div class="container">
        <div class="section-title">
            <h5 class="title-sub">Chúng tôi có thể giúp gì cho bạn?</h5>
            <h2 class="title-1">Các dịch vụ của chúng tôi</h2>
        </div>
        <div class="row no-gutters">
            <% @service_menus.each_with_index do |service,index| %>
                <div class="col-md-6 col-lg-4">
                    <article class="media media-service">
                        <figure class="media__img">
                            <!--image_tag article_image(service.image.thumb_116_99, '116_99'), alt: service.name %>-->
                        </figure>
                        <div class="media__title">
                            <h3 class="title">
                                <%= link_to service.name, service_link(service) %>
                            </h3>
                            <span class="number"><%= format('%02d', index + 1) %></span>
                        </div>
                        <!--<p class="media__text"></p>-->
                    </article>
                </div>
            <% end %>
        </div>
    </div>
</section>
<!-- END SERVICE-->