<div class="header-social">
    <ul class="list-social">
        <li class="list-social__item">
            <a class="ic-fb" href="#">
                <i class="zmdi zmdi-facebook"></i>
            </a>
        </li>
        <li class="list-social__item">
            <a class="ic-insta" href="#">
                <i class="zmdi zmdi-instagram"></i>
            </a>
        </li>
        <li class="list-social__item">
            <a class="ic-twi" href="#">
                <i class="zmdi zmdi-twitter"></i>
            </a>
        </li>
        <li class="list-social__item">
            <a class="ic-pinterest" href="#">
                <i class="zmdi zmdi-pinterest"></i>
            </a>
        </li>
        <li class="list-social__item">
            <a class="ic-google" href="#">
                <i class="zmdi zmdi-google"></i>
            </a>
        </li>
    </ul>
</div>