<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tatee Theme Templates">
    <meta name="author" content="AuCreative">
    <meta name="keywords" content="Tatee Theme Templates">

    <!-- Title Page-->
    <title>Coming Soon</title>

    <!-- Icons font CSS-->
    <link href="/frontend/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/frontend/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/frontend/vendor/themify-font/themify-icons.css" rel="stylesheet" media="all">
    <!-- Base fonts of theme-->
    <link href="/frontend/css/poppins-font.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->

    <!-- Bootstrap CSS-->
    <link href="/frontend/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/frontend/vendor/animate.css/animate.min.css" rel="stylesheet" media="all">
    <link href="/frontend/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/frontend/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/frontend/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/frontend/vendor/select2/select2.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/frontend/css/main.min.css" rel="stylesheet" media="all">

    <!--Favicons-->
    <link rel="shortcut icon" href="/frontend/images/icon/favicon.jpg">
</head>

<body class="animsition js-preloader">
    <div class="page-wrapper position-relative">

        <!-- MAIN-->
        <main class="bg-image-3 page-coming" id="main">
            <div class="section-content">
                <div class="container">
                    <h4 class="title-sub title-sub--ceb m-b-20">website công ty cổ phần tư vấn thiết kế sao</h4>
                    <h2 class="title-2 title--light">Coming soon</h2>
                    <div class="countdown cd100">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="countdown__item">
                                    <div class="countdown__item-inner">
                                        <span class="value days" data-days="29">29</span>
                                        <span class="desc">ngày</span>
                                    </div>
                                    <span class="line"></span>
                                    <span class="line line--bottom"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="countdown__item">
                                    <div class="countdown__item-inner">
                                        <span class="value hours" data-hours="14">14</span>
                                        <span class="desc">giờ</span>
                                    </div>
                                    <span class="line"></span>
                                    <span class="line line--bottom"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="countdown__item">
                                    <div class="countdown__item-inner">
                                        <span class="value minutes" data-minutes="12">12</span>
                                        <span class="desc">phút</span>
                                    </div>
                                    <span class="line"></span>
                                    <span class="line line--bottom"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="countdown__item">
                                    <div class="countdown__item-inner">
                                        <span class="value seconds" data-seconds="23">23</span>
                                        <span class="desc">giây</span>
                                    </div>
                                    <span class="line"></span>
                                    <span class="line line--bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="au-btn au-btn--solid au-btn--light-2 au-btn--arrow" href="<%= erp_saoee.home_path %>">Trang chủ
                            <i class="zmdi zmdi-arrow-right ic-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Jquery JS-->
    <script src="/frontend/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/frontend/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS-->
    <script src="/frontend/vendor/animsition/animsition.min.js"></script>
    <script src="/frontend/vendor/slick/slick.min.js"></script>
    <script src="/frontend/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/frontend/vendor/wow/wow.min.js"></script>
    <script src="/frontend/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="/frontend/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="/frontend/vendor/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/frontend/vendor/matchHeight/jquery.matchHeight-min.js"></script>
    <script src="/frontend/vendor/select2/select2.min.js"></script>
    <script src="/frontend/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="/frontend/vendor/noUiSlider/nouislider.min.js"></script>
    <script src="/frontend/vendor/countdowntime/moment.min.js"></script>
    <script src="/frontend/vendor/countdowntime/moment-timezone.min.js"></script>
    <script src="/frontend/vendor/countdowntime/moment-timezone-with-data.min.js"></script>
    <script src="/frontend/vendor/countdowntime/countdowntime.js"></script>

    <!-- Main JS-->
    <script src="/frontend/js/global.js"></script>

</body>

<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'a2plcpnl0422'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>
<!-- end document-->