<!-- FOOTER-->
<footer class="footer bg-parallax">
    <div class="bg-overlay bg-overlay--p85"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-col">
                    <div class="widget m-b-25">
                        <a class="logo" href="#">
                            <img src="/frontend/images/icon/logo-white.png" alt="SAO-EE.VN" />
                        </a>
                    </div>
                    <div class="widget widget-address">
                        <ul>
                            <li><strong>CÔNG TY CỔ PHẦN TƯ VẤN THIẾT KẾ SAO</strong></li>
                            <li>Địa chỉ: P.901, Lầu 9, Số 68 Nguyễn Huệ, Phường Bến Nghé, Quận 1, Hồ Chí Minh, Việt Nam</li>
                            <li>Điện thoại: (+8428) 6682 2233</li>
                            <li>Email: info@sao-ee.vn</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <div class="widget widget_pages">
                        <h4 class="widget-title">Link</h4>
                        <ul>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <h4 class="widget-title">Social</h4>
                    <div class="widget widget_socials">
                        <ul class="list-social list-social-2">
                            <li class="list-social__item">
                                <a class="ic-fb" href="#">
                                    <i class="zmdi zmdi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-insta" href="#">
                                    <i class="zmdi zmdi-instagram"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-twi" href="#">
                                    <i class="zmdi zmdi-twitter"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-pinterest" href="#">
                                    <i class="zmdi zmdi-pinterest"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-google" href="#">
                                    <i class="zmdi zmdi-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-col">
                    <div class="widget widget_text">
                        <h4 class="widget-title">copyright</h4>
                        <p>© 2018 TATEE . Designed by Authemes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER-->