<!-- FOOTER-->
<footer class="footer bg-parallax">
    <div class="bg-overlay bg-overlay--p85"></div>
    <div class="container p-t-60 p-b-40">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-col">
                    <div class="widget m-b-10">
                        <a class="logo" href="#">
                            <img src="/frontend/images/icon/logo-white.png" alt="SAO-EE.VN" />
                        </a>
                    </div>
                    <div class="widget widget-address">
                        <ul>
                            <li><strong>CÔNG TY CỔ PHẦN TƯ VẤN THIẾT KẾ SAO</strong></li>
                            <li>Địa chỉ: P.901, Lầu 9, Số 68 Nguyễn Huệ, Phường Bến Nghé, Quận 1, Hồ Chí Minh, Việt Nam</li>
                            <li>Điện thoại: (+8428) 6682 2233</li>
                            <li>Email: info@sao-ee.vn</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <div class="widget widget_pages">
                        <h4 class="widget-title">Dịch vụ</h4>
                        <ul>
                            <li>
                                <a href="#">Thiết kế kiến trúc</a>
                            </li>
                            <li>
                                <a href="#">Thiết kế hệ thống cơ điện</a>
                            </li>
                            <li>
                                <a href="#">Xây dựng mô hình năng lượng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <div class="widget widget_pages">
                        <h4 class="widget-title">Liên kết</h4>
                        <ul>
                            <li>
                                <a href="#">Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="#">Dự án</a>
                            </li>
                            <li>
                                <a href="#">Tin tức</a>
                            </li>
                            <li>
                                <a href="#">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="#">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <h4 class="widget-title">Kết nối</h4>
                    <div class="widget widget_socials">
                        <ul class="list-social list-social-2">
                            <li class="list-social__item">
                                <a class="ic-fb" href="#">
                                    <i class="zmdi zmdi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-insta" href="#">
                                    <i class="zmdi zmdi-instagram"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-twi" href="#">
                                    <i class="zmdi zmdi-twitter"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-pinterest" href="#">
                                    <i class="zmdi zmdi-pinterest"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-google" href="#">
                                    <i class="zmdi zmdi-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container p-t-10 p-b-10">
            <div class="row">
                <div class="col-md-12">
                    <p class="font-12 text-gray m-0 text-center">
                        Copyright &copy; 2018 <span class="text-color">SAO-EE.VN</span>. All Rights Reserved. <br/>
                        Designed by <a href="http://hoangkhang.com.vn" target="_blank">Hoang Khang Incotech</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER-->