<footer class="footer">
    <div class="footer__container py-5 container d-flex flex-column-reverse flex-sm-column-reverse flex-md-column-reverse flex-lg-row justify-content-between align-lg-items-center align-items-start align-sm-items-start align-md-items-start">
        <div class="footer__logo">
            <img src="./frontend/images/logo-footer.png" alt="Logo">
        </div>
        <div class="d-flex gap-6 flex-1 w-100 w-sm-100 w-md-100 w-lg-auto">
            <nav class="d-none d-sm-none d-md-none d-lg-block">
                <ul class="nav d-flex flex-column gap-lg-3 gap-0">
                    <li class="nav-item flex-grow-0">
                        <a href="#" class="nav-link active text-uppercase">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link text-uppercase">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase">Dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase">Dự án</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase">Liên hệ</a>
                    </li>
                </ul>
            </nav>
            <div class="d-flex flex-column gap-4 flex-grow-0 w-100">
                <h2 class="fs-5 text-capitalize d-inline-block w-fit-content fw-bold company__name">
                    Công ty Cổ phần Tư vấn Thiết kế SAO
                </h2>
                <div class="d-flex flex-row flex-lg-column gap-2 flex-wrap flex-lg-nowrap w-100 w-lg-300 justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start gap-14">
                    <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row gap-2 align-items-center w-100 w-lg-auto">
                        <div class="icon-20">
                            <img src="./frontend/images/icon_add_location.png" alt="">
                        </div>
                        <p class="footer__text">
                            L17-11, Vincom Center Buildings, 72 Lê Thánh Tôn, P. Bến Nghé, Quận 1, TP. Hồ Chí
                            Minh, Việt Nam
                        </p>
                    </div>
                    <div class="d-flex gap-2 flex-column flex-sm-column flex-md-column flex-lg-row align-items-center">
                        <div class="icon-20">
                            <img src="./frontend/images/icon_drafts.png" alt="">
                        </div>
                        <p class="footer__text">
                            info@sao-ee.vn
                        </p>
                    </div>
                    <div class="d-flex gap-2 flex-column flex-sm-column flex-md-column flex-lg-row align-items-center">
                        <div class="icon-20">
                            <img src="./frontend/images/icon_add_ic_call.png" alt="">
                        </div>
                        <p class="footer__text">
                            (+84) 28 6682 2233
                        </p>
                    </div>
                    <div class="d-flex gap-2 flex-column flex-sm-column flex-md-column flex-lg-row align-items-center">
                        <div class="icon-20">
                            <img src="./frontend/images/icon_margin.png" alt="">
                        </div>
                        <p class="footer__text">
                            MST: 0313639154
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__line">
    </div>
    <div class="bg-black text-center fs-6 fw-medium text-white py-3">
        <p class="mb-0">Copyright © 2024 SAO-EE.All Rights Reserved.</p>
    </div>
</footer>