<!-- Jquery JS-->
<script src="/frontend/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap JS-->
<script src="/frontend/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS-->
<script src="/frontend/vendor/animsition/animsition.min.js"></script>
<script src="/frontend/vendor/slick/slick.min.js"></script>
<script src="/frontend/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/frontend/vendor/wow/wow.min.js"></script>
<script src="/frontend/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/frontend/vendor/isotope/isotope.pkgd.min.js"></script>
<script src="/frontend/vendor/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/frontend/vendor/matchHeight/jquery.matchHeight-min.js"></script>
<script src="/frontend/vendor/select2/select2.min.js"></script>
<script src="/frontend/vendor/sweetalert/sweetalert.min.js"></script>
<script src="/frontend/vendor/noUiSlider/nouislider.min.js"></script>
<% if params[:controller] == "erp/saoee/frontend/contact_us" %>
<script src="/frontend/js/config-contact.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEWErlUpp3IpJsdw-y7FYaTDKDttgikd0&callback=initMap"></script>
<script src="/frontend/js/theme-map.js"></script>
<% else %>
<script type="text/javascript" src="/frontend/vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/frontend/vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!--
| (Load Extensions only on Local File Systems !
| The following part can be removed on Server for On Demand Loading)
-->
<script type="text/javascript" src="/frontend/vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/frontend/vendor/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/frontend/vendor/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/frontend/vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/frontend/vendor/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/frontend/vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/frontend/vendor/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/frontend/vendor/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/frontend/vendor/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<!-- Config Revolution Slider-->
<script type="text/javascript" src="/frontend/js/config-revolution.min.js"></script>
<% end %>

<!-- Main JS-->
<script src="/frontend/js/global.js"></script>
<script src="/frontend/js/main.js"></script>

<!-- fancybox JS -->
<script src="/frontend/fancybox/jquery.fancybox.js"></script>
<script src="/frontend/fancybox/jquery.fancybox.min.js"></script>

<script>
    $(document).ready(function () {
        if (window.screen.width > 1024) {
            $('#callme a').attr('href', 'javascript:void(0)');
            $('#callme').on('click', function () {
                $(this).toggleClass('active');
            })
        }
        
        $( '[data-fancybox="images"]' ).fancybox({
            infobar : false,
            caption : function( instance, item ) {
              var caption = $(this).data('caption') || '';
              
              return ( caption.length ? caption + '<br />' : '' ) + '<span data-fancybox-index></span> / <span data-fancybox-count></span>';
            },
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                "fullScreen",
                //"download",
                //"thumbs",
                "close"
            ],
            //thumbs : {
            //    autoStart : true
            //}
        });
        
        $( '[data-fancybox="images"]' ).click(function() {
            return false;
        });
    })
</script>