<!-- PAGE HEADING-->
<section class="section breadcrumb p-t-65 p-b-35">
    <div class="container">
        <div class="page-heading">
            <h2 class="title-2">Dự án</h2>
            <h4 class="title-sub title-sub--c8 m-b-15">
                <%= link_to "Trang chủ", erp_saoee.root_path %> <i class="ti-angle-double-right"></i>
                <%= 'Dự án' %>
            </h4>
        </div>
    </div>
</section>
<!-- END PAGE HEADING-->

<!-- PROJECT-->
<section class="section p-b-120">
    <div class="container">
        <div class="row gutter-xl">
            <div class="col-md-4">
                <article class="media media-project m-b-50">
                    <figure class="media__img">
                        <img src="/frontend/images/project-33.jpg" alt="luxury villa" />
                    </figure>
                    <div class="bg-overlay"></div>
                    <span class="line"></span>
                    <span class="line line--bottom"></span>
                    <div class="media__body">
                        <h3 class="title">
                            <a href="project-detail-1.html">luxury villa</a>
                        </h3>
                        <div class="address">Perth, Australia</div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="media media-project m-b-50">
                    <figure class="media__img">
                        <img src="/frontend/images/project-34.jpg" alt="wooden villa" />
                    </figure>
                    <div class="bg-overlay"></div>
                    <span class="line"></span>
                    <span class="line line--bottom"></span>
                    <div class="media__body">
                        <h3 class="title">
                            <a href="project-detail-1.html">wooden villa</a>
                        </h3>
                        <div class="address">New York, USA</div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="media media-project m-b-50">
                    <figure class="media__img">
                        <img src="/frontend/images/project-35.jpg" alt="Skyline" />
                    </figure>
                    <div class="bg-overlay"></div>
                    <span class="line"></span>
                    <span class="line line--bottom"></span>
                    <div class="media__body">
                        <h3 class="title">
                            <a href="project-detail-1.html">Skyline</a>
                        </h3>
                        <div class="address">Michigan, USA</div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="media media-project m-b-50">
                    <figure class="media__img">
                        <img src="/frontend/images/project-36.jpg" alt="Frozen house" />
                    </figure>
                    <div class="bg-overlay"></div>
                    <span class="line"></span>
                    <span class="line line--bottom"></span>
                    <div class="media__body">
                        <h3 class="title">
                            <a href="project-detail-1.html">Frozen house</a>
                        </h3>
                        <div class="address">Mexico</div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="media media-project m-b-50">
                    <figure class="media__img">
                        <img src="/frontend/images/project-37.jpg" alt="luxury villa" />
                    </figure>
                    <div class="bg-overlay"></div>
                    <span class="line"></span>
                    <span class="line line--bottom"></span>
                    <div class="media__body">
                        <h3 class="title">
                            <a href="project-detail-1.html">luxury villa</a>
                        </h3>
                        <div class="address">Perth, Australia</div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="media media-project m-b-50">
                    <figure class="media__img">
                        <img src="/frontend/images/project-38.jpg" alt="wooden villa" />
                    </figure>
                    <div class="bg-overlay"></div>
                    <span class="line"></span>
                    <span class="line line--bottom"></span>
                    <div class="media__body">
                        <h3 class="title">
                            <a href="project-detail-1.html">wooden villa</a>
                        </h3>
                        <div class="address">New York, USA</div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="media media-project m-b-50">
                    <figure class="media__img">
                        <img src="/frontend/images/project-38.jpg" alt="wooden villa" />
                    </figure>
                    <div class="bg-overlay"></div>
                    <span class="line"></span>
                    <span class="line line--bottom"></span>
                    <div class="media__body">
                        <h3 class="title">
                            <a href="project-detail-1.html">wooden villa</a>
                        </h3>
                        <div class="address">New York, USA</div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="media media-project m-b-50">
                    <figure class="media__img">
                        <img src="/frontend/images/project-40.jpg" alt="Skyline" />
                    </figure>
                    <div class="bg-overlay"></div>
                    <span class="line"></span>
                    <span class="line line--bottom"></span>
                    <div class="media__body">
                        <h3 class="title">
                            <a href="project-detail-1.html">Skyline</a>
                        </h3>
                        <div class="address">Michigan, USA</div>
                    </div>
                </article>
            </div>
        </div>
        <div class="text-center p-t-10">
            <a class="au-btn au-btn--c6 au-btn-lg" href="#">Bấm để xem thêm danh sách</a>
        </div>
    </div>
</section>
<!-- END PROJECT-->